[run]
branch = True
source =
    harnyx_commons
    harnyx_validator
    harnyx_miner
    harnyx_miner_sdk
    harnyx_dashboard
omit =
    */tests/*

[report]
show_missing = True
skip_covered = True

